@import './modules/_base';
@import './modules/player/';
@import './modules/timeline/';
@import './modules/credits/';

.appHeader {
    background-color: #FFF;
    width: 100%;
    height: 60px;
    text-align: center;

    nav {
        max-width: 1200px;
        margin: 0 auto;
        text-align: left;
        line-height: 60px;
    }

    .logo {
        float: left;
        color: #000;
    }

    .donate {
        color: #FFF;
        background-color: red;
        line-height: 40px;
        margin: 5px;
        padding: 5px 20px;
        text-transform: uppercase;
        float: right;
    }
}

section {
    &#player {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        margin-bottom: -5px;

        video {
            width: 720px;
            background: #000;
            height: 405px;
            position: relative;
            border-radius: 2px;
            margin: 60px 30px 60px;
            box-shadow: 0px 0px 30px 0px rgba(#000,0.25);

            &.fixed {
                position: fixed;
                top: 20px;
                right: 20px;
                //transform: scale(0.5);
                margin: 0;
                width: 360px;
                height: 202px;
                box-shadow: 0px 0px 30px 0px rgba(#000,0.5);
            }
        }
    }

    &#intro {
        position: relative;
        height: 40%;
        background: $blue;
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url('http://mcconnelling.s3-website-us-east-1.amazonaws.com/img/mitch-1.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        .cover {
            width: 100% !important;
            max-width: 100% !important;
            margin-top: 15%;
            background: rgba(0,0,0,0.6);
            padding: 60px;
        }
    }

    &#video-share {
        background: #333;
        overflow: auto;
        display: none;
        h1 {
            width: 100%;
            padding: 0;
            margin: 0 0px;
            color: #fff;
            text-transform: uppercase;
            text-align: left;
            font-size: 24px;
            font-weight: 700;
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
        }
        .copypaste {
            display: none;
        }
        .link {
            display: none;
        }
        button#save {
            background: $red;
            width: 100%;
            float: left;
            border: 5px solid darken($red, 10%);
            font-size: 24px;
            padding: 8px;
            color: #fff;
            border: 0;
            margin-top: 10px;
            margin-bottom: 15px;

            &:hover {
                background: lighten($red, 10%);
            }
        }
        #share-link {
            margin-top: 10px;
            color: #000;
            width: 100%;
            padding: 8px;
        }

        .facebook, .twitter {
            margin-top: 15px;
            display: block;
            display: none;
            width: 50%;
            color: #fff;
            background: $blue;
            border: 5px solid #333;
            float: left;
            font-size: 24px;
            padding: 8px;
            margin-bottom: 15px;

            a {
                color: #fff;
            }
        }
    }

    &#editor {
        background: #eee;
        background: darken($blue, 10%);
        background: #ccc;
        background: #fff;
        width: 100%;
        color: $red;

        div.inner {
            max-width: 1200px;
        }

        .clips {
            padding: 30px;
            margin: 0 auto;
            max-width: 1200px;
            &:hover {
                cursor: pointer;
            }
            .inner {
                color: #fff;
                padding: 15px 0 5px;
                margin-bottom: 10px;
                max-width: 1200px;
            }
            h2 {
                padding: 0;
                margin: 0 0px;
                color: #04233d;
                text-transform: uppercase;
                text-align: left;
                font-size: 24px;
                font-weight: 700;
                border-bottom: 2px solid $red;
                padding-bottom: 5px;
            }
            img {
                width: 12%;
                margin: 0.5px;
                float: left;
                padding: 0;
                display: inline-block;
                @media screen and (max-width: 1200px) {
                    width: 18%;
                }
                @media screen and (max-width: 1000px) {
                    width: 20%;
                }
                @media screen and (max-width: 800px) {
                    width: 22%;
                }
                @media screen and (max-width: 600px) {
                    width: 24%;
                }
            }
        }

        input, button {
            font-size: 36px;
            padding: 12px;
            color: #fff;
            background: $blue2;
            border: 0;
            &::placeholder {
               color: #fff;
            }
        }

        button#update {
            border: 5px solid $blue2;

            &:hover {
                background: $blue2;
            }
        }

        .settings {
            h2 {
                padding: 0;
                margin: 0 0px;
                color: #04233d;
                text-transform: uppercase;
                text-align: left;
                font-size: 24px;
                font-weight: 700;
                border-bottom: 2px solid $red;
                padding-bottom: 5px;
            }
        }
        #audio {
            max-width: 1200px;
            position: relative;
            height: auto;
            min-height: 175px;
            .editor-title {
                width: 100%;
                margin: 15px auto 5px;
            }
            .editor-url {
                width: 84.5%;
                position: absolute;
                left: 0;
            }
            .editor-time {
                position: absolute;
                right: 0;
                width: 15%;
            }

        }
        button {
            width: 100%;
            position: relative;
            margin-bottom: 5px;
        }
    }
    &#gallery {
        text-align: left;
        background: #fff;
        width: 100%;
        overflow: auto;
        color: #000;
        padding-bottom: 25px;
        text-align: center;

        .btn {
            background: lighten($blue, 10%);
            color: #fff;
        }

        nav {
            ul {
                li {
                    display: inline-block;
                }
            }
        }

        .popular, .recent {
            width: 50%;
            margin: 0 auto;
            h3 {
                border-bottom: 1px solid $red;
                font-size: 32px;
                font-weight: bold;
                color: $red;
                padding-bottom: 10px;
            }
        }

        ul {
            padding: 0 0;
            width: 100%;
            background: #000;

            li.video {
                display: block;
                font-size: 18px;
                font-weight: bold;
                color: $red;

                margin: 5px 0;

                a {
                    &:hover {
                        color: lighten($red, 20%);
                    }
                }
            }
        }
    }
}

// footer {
//     background: red;
//     position: fixed;
//     bottom: 0;
//     width: 100%;
// }

@media screen and (max-width: 900px) {
    section#player {
        max-width: 100%;
    }
    section#editor {
        input, button {
            font-size: 28px;
        }
        #audio {
            min-height: 155px;
        }
    }
}

@media screen and (max-width: 710px) {
    section#editor {
        #audio {
            min-height: 122px;
        }
        input, button {
            font-size: 18px;
        }
    }
}